__pycache__/
*.pyc
*.pyo
*.pyd
venv/
mastDownload/
env/
test_results/
other/
*gptnnmod.py
*misc.py
results/
temp_injection_lcs/table25.dat
tableab.dat
table25.dat
cached_lc
cached_lc_train
cached_lc_val
dyson_positives
dyson_positives_new
final_training_data_TCN_train
final_training_data_TCN_val
.vscode/
checkpoints/